<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Generator</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class='signin clearfix'>
        <ul>
            <li>Letter Templates</li>
            <li>Set Planner</li>
            <li>Configure Exchange</li>
        </ul>
        <% if (typeof error !== 'undefined' && error.length > 0){ %>
            <% if (typeof planners === 'undefined'){ %> 
                <p class='message'>
                    <% if(typeof error === 'object') { %>
                        <% error.forEach(item => { %>
                            <%= console.log(item) %>
                            <p><%= item.message %></p>
                        <% }) %>
                    <% }else { %> 
                        <%= error %>
                    <% } %>
                </p>
                <a href="/auth/signin" class="">Sign in</a>
            <% }else { %>
                <p class='message'><%= error %></p>
            <% } %>
        <% } else { %>
            <section class='logon'>    
                <% if(typeof settings === 'undefined' && typeof planners !== 'undefined') { %> 
                    <h3>Planner</h3>     
                    <label>Select a Planner</label>
                    <form action="../setPlan" method="POST">
                        <select name="plan">
                            <option>Select One</option>
                            <% for(plans of planners.planner) { %> 
                            <option value='{"planId":"<%=plans.id%>", "planName":"<%=plans.title%>"}'><%= plans.title %></option>
                            <% } %>
                        </select>
                        <input type="submit" />
                    </form>
                <% } else { %>
                    <p>The selected plan is: <%= settings.planName %></p> 
                    <% if(planLabels){ %>
                        <%= console.log(planLabels) %>
                        <ul>
                            <% for(const label in planLabels){ %>
                                <li><%= planLabels[label] ? planLabels[label] : label %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(typeof tasks !== 'undefined'){ %> 
                        <p>The uncompleted tasks are:</p>
                        <form action="../generateLetters" method="POST">
                            <% tasks.forEach(element => { %>
                                <p><input name="selectedTasks" type="checkbox" value="<%= element.id %>" /> <%= element.title %> || <%= element.description %> || <%= element.checklist %></p>
                            <% }); %>
                            <input type="submit" />
                        </form>
                    <% } %>
            <% } %>
            <p><a href="/auth/signout">Logout</a></p>
        <% } %>
        </section>
    </main>
</body>
</html>